
{% extends "base.html" %}
{% block main %}
<div class="container-fluid">
  <form action="{{ url_for('register') }}" method="post">
    {{ form.csrf_token }}
    <div class="row">
      <h3>sign up</h3>
      <div class="col">
        {{ form.username(class="nhsuk-input") }}
        {{ form.password(class="nhsuk-input") }}
        {{ form.email(class="nhsuk-input") }}
      </div>
      <div class="col">
        {{ form.submit(class="nhsuk-button") }}
      </div>
    </div>
  </form>
</div>
{% endblock %}