<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Your Email Template</title>
</head>
<body style="margin: 0; padding: 0; font-family: Arial, sans-serif; background-color: #f4f4f4;">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td align="center" style="padding: 20px;">
                <table border="0" cellspacing="0" cellpadding="0" style="max-width: 600px; background-color: #ffffff;">
                    <tr>
                        <td align="center" style="padding: 40px 0;">
                            <h1 style="color: #333333;">Welcome to the NHS complaints portal</h1>
                            <p style="color: #777777; font-size: 16px;">please Click the button below to verfiy</p>
                            <p style="margin: 20px 0;">
                                <a href={{link}} style="display: inline-block; padding: 10px 20px; background-color: #007bff; color: #ffffff; text-decoration: none; border-radius: 5px; font-size: 18px;">Verfiy</a>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="padding: 20px; background-color: #f4f4f4;">
                            <p style="color: #777777; font-size: 14px;">If you have any questions, please <a href="mailto:info@example.com" style="color: #007bff; text-decoration: underline;">contact us</a>.</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
