{% extends "base.html" %}

{% block main %}
<div class="container-fluid">
  <form action="{{ url_for('add') }}" method="post">
    {{ form.csrf_token }}
    <div class="row">
      <h3>Add complaint</h3>
    </div>
      <div class="row">
        <h4>Title of the complaint</h4>
        {{ form.title(class="form-control") }}
      </div>
      <div class="row">
        <h4>body of the complaint</h4>
        {{ form.body(class="form-control") }}
      </div>
      <div class="row">
        {{ form.submit(class="nhsuk-button") }}
      </div>
    <div class="row">
      <p>Wanna make it public this mean the genral public can see not just nhs admins</p>
      {{ form.public(class="checkbox") }}
      </div>
    </div>
  </form>
</div>
{% endblock %}
