{% extends "base.html" %}

{% block main %}
<div class="container-fluid">
  <form action="{{ url_for('add') }}" method="post">
    {{ form.csrf_token }}
    <div class="row">
      <h3>Add complaint</h3>
    </div>
      <div class="row">
        <h4>body of the complaint</h4>
        <div class="nhsuk-hint" id="complaint-hint">
          Do not include personal or financial information, for example, your National Insurance number or credit card details.
        </div>
        {{ form.body(class="nhsuk-textarea") }}
      </div>
      <div class="col">
        {{ form.submit(class="nhsuk-button") }}
        </div>
</div>

{% endblock %}
