{% extends "base.html" %}

{% block main %}
<script type="text/javascript">
  var lastSelectedIndex = null;  // Keep track of the last selected index

  function toggleContent(index) {
    var radios = document.getElementsByClassName("nhsuk-radios__item");

    // Hide the content of the last selected index
    if (lastSelectedIndex !== null) {
      var lastContent = document.getElementById("hiddenContent" + lastSelectedIndex);
      lastContent.style.display = 'none';
    }

    // Toggle the display property for the selected content
    var content = document.getElementById("hiddenContent" + index);
    if (content.style.display === 'none') {
      content.style.display = 'block';
      lastSelectedIndex = index;

      // Handle rules based on the selected radio button
      handleRules(index);
    } else {
      content.style.display = 'none';
      lastSelectedIndex = null;
    }
  }

 
</script>

<div class="nhsuk-form-group">
  <fieldset class="nhsuk-fieldset" aria-describedby="contact-hint">
    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
      <h1 class="nhsuk-fieldset__heading">
        How would you prefer to be contacted?
      </h1>
    </legend>

    <div class="nhsuk-hint" id="contact-hint">
      Select one option
    </div>

    <div class="nhsuk-radios nhsuk-radios--conditional">
      {% for subfield in form.howtocontact %}
        <div class="nhsuk-radios__item">
          <div class="radio-wrapper" onclick="toggleContent({{ loop.index }})">
            {{ subfield(class="nhsuk-radios__input", **{}) }}
            <label class="nhsuk-label nhsuk-radios__label">{{ subfield.label() }}</label>
          </div>
          <div id="hiddenContent{{ loop.index }}" style="display: none;">
            {{ form.email(id="hiddenContentEmail" ~ loop.index, class="nhsuk-input nhsuk-u-width-two-thirds") }}
          </div>
        </div>
      {% endfor %}
    </div>
  </fieldset>
  <form action="{{ url_for('ContactInfomation') }}" method="post">
    {{ form.csrf_token }}
  {{ form.submit(class="nhsuk-button") }}
  
{% endblock %}

</div>
