{% extends "base.html" %}

{% block main %}
<div class="nhsuk-back-link nhsuk-u-margin-bottom-4 no-print" id="back">
    <a class="nhsuk-back-link__link" href="javascript:history.go(-1)">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
<path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z">
</path>
</svg> Go back
    </a>
    <script type="text/javascript">
document.getElementById('back-button');
</script>
</div>
<form action="{{ url_for('dateofbirth') }}" method="post">
    {{ form.csrf_token }}
<div class="nhsuk-form-group">
<fieldset class="nhsuk-fieldset" aria-describedby="example-hint" role="group">
    <legend class="nhsuk-fieldset__legend nhsuk-label--l">
    <h1 class="nhsuk-fieldset__heading">
        What is your date of birth?
    </h1>
    </legend>
    <div class="nhsuk-hint" id="example-hint">
    For example, 15 3 1984
    </div>

<div class="nhsuk-date-input" id="example">
    <div class="nhsuk-date-input__item">
        <div class="nhsuk-form-group">
        <label class="nhsuk-label nhsuk-date-input__label" for="example-day">
            Day
        </label>
        {{ form.day(class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2") }}
        </div>
    </div>
    <div class="nhsuk-date-input__item">
        <div class="nhsuk-form-group">
        <label class="nhsuk-label nhsuk-date-input__label" for="example-month">
            Month
        </label>
        {{ form.month(class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2") }}
        </div>
    </div>
    <div class="nhsuk-date-input__item">
        <div class="nhsuk-form-group">
        <label class="nhsuk-label nhsuk-date-input__label" for="example-year">
            Year
        </label>
        {{ form.day(class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2") }}
        </div>
    </div>
    </div>
</fieldset>
</div>

<div class-"nhsuk-form-group">
    <form action="{{ url_for('dateofbirth') }}" method="post">
        {{ form.csrf_token }}
    {{ next.submit(class="nhsuk-button") }}
    </div>
{% endblock %}