{% extends "base.html" %}
{% block main %}
<div class="nhsuk-form-group">
    <label class="nhsuk-label" for="example">
    look for the service you want to complain about
    </label>
    <input class="nhsuk-input" name="q" type="text" placeholder="search" hx-get="/search" hx-trigger="keyup changed delay:200ms" hx-target="#results">
</div>
<div class="nhsuk-hint" id="contact-hint">
    Press on the name of the service you want to complain about and youll be take to the next step.
  </div>
<table>
    <thead>
        <tr>
            <th>Hospital Name</th>
            <th>Hospital address</th>
        </tr>
    </thead>
    <tbody  id="results">
    </tbody> 
</table>
{% endblock %}